/* Error: expected ")".
 *    ,
 * 83 |             $alturaRodape: 100px;
 *    |                                 ^
 *    '
 *   _midias.scss 83:33  @import
 *   template.scss 1:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 83 \2502              $alturaRodape: 100px;\d\a    \2502                                  ^\a    \2575 \a   _midias.scss 83:33  @import\a   template.scss 1:9   root stylesheet';
}
