.card-img-item {
  width: 100%;
  height: 200px !important;
}

@media only screen and (min-height: 768px) {
  #single {
    margin-bottom: 5vh;
    margin-top: 69.12px !important;
  }

  .custom-logo-link img {
    height: 4.2vw !important;
  }
}
@media only screen and (max-width: 575px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 10.368px !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 10.368px;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 25.92px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 0.2304rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 5.184px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 10.368px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 51.84;
  }
  #menu-superior button {
    font-size: 0.2304rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 403.2pxpx;
    min-width: calc(403.2pxpx - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #destaques {
    font-size: 0.6rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #ffec00 80%, rgba(255, 255, 255, 0.8));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 195.84px;
    min-height: 30vhpx;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 230.4;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 63.2px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 576px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 1.6912rem !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 1.6912rem;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 43.2px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 0.4608rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 8.64px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 17.28px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 86.4;
  }
  #menu-superior button {
    font-size: 0.4608rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 576px;
    min-width: calc(576px - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 489.6px;
    min-height: 172.8px;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 576;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #destaques {
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(255, 236, 0, 0.8) 80%, rgba(255, 255, 255, 0));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 63.2px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #resultadoBusca {
    margin-top: 57.6px;
  }

  .card {
    margin-bottom: 5vh;
  }
}
@media only screen and (min-height: 768px) {
  #single {
    margin-bottom: 5vh;
    margin-top: 92.16px !important;
  }

  .custom-logo-link img {
    height: 4.2vw !important;
  }
}
@media only screen and (max-width: 575px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 13.824px !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 13.824px;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 34.56px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 0.3072rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 6.912px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 13.824px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 69.12;
  }
  #menu-superior button {
    font-size: 0.3072rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 537.6pxpx;
    min-width: calc(537.6pxpx - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #destaques {
    font-size: 0.6rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #ffec00 80%, rgba(255, 255, 255, 0.8));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 261.12px;
    min-height: 30vhpx;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 307.2;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 77.6px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 1.9216rem !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 1.9216rem;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 57.6px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 0.6144rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 11.52px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 23.04px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 115.2;
  }
  #menu-superior button {
    font-size: 0.6144rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 768px;
    min-width: calc(768px - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 652.8px;
    min-height: 230.4px;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 768;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #destaques {
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(255, 236, 0, 0.8) 80%, rgba(255, 255, 255, 0));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 77.6px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #resultadoBusca {
    margin-top: 76.8px;
  }

  .card {
    margin-bottom: 5vh;
  }
}
@media only screen and (min-height: 768px) {
  #single {
    margin-bottom: 5vh;
    margin-top: 119.04px !important;
  }

  .custom-logo-link img {
    height: 4.2vw !important;
  }
}
@media only screen and (max-width: 575px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 17.856px !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 17.856px;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 44.64px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 0.3968rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 8.928px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 17.856px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 89.28;
  }
  #menu-superior button {
    font-size: 0.3968rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 694.4pxpx;
    min-width: calc(694.4pxpx - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #destaques {
    font-size: 0.6rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #ffec00 80%, rgba(255, 255, 255, 0.8));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 337.28px;
    min-height: 30vhpx;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 396.8;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 94.4px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 2.1904rem !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 2.1904rem;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 74.4px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 0.7936rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 14.88px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 29.76px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 148.8;
  }
  #menu-superior button {
    font-size: 0.7936rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 992px;
    min-width: calc(992px - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 843.2px;
    min-height: 297.6px;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 992;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #destaques {
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(255, 236, 0, 0.8) 80%, rgba(255, 255, 255, 0));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 94.4px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #resultadoBusca {
    margin-top: 99.2px;
  }

  .card {
    margin-bottom: 5vh;
  }
}
@media only screen and (min-height: 768px) {
  #single {
    margin-bottom: 5vh;
    margin-top: 144px !important;
  }

  .custom-logo-link img {
    height: 4.2vw !important;
  }
}
@media only screen and (max-width: 575px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 21.6px !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 21.6px;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 54px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 0.48rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 10.8px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 21.6px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 108;
  }
  #menu-superior button {
    font-size: 0.48rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 840pxpx;
    min-width: calc(840pxpx - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #destaques {
    font-size: 0.6rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #ffec00 80%, rgba(255, 255, 255, 0.8));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 408px;
    min-height: 30vhpx;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 480;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 110px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 2.44rem !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 2.44rem;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 90px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 0.96rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 18px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 36px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 180;
  }
  #menu-superior button {
    font-size: 0.96rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 1200px;
    min-width: calc(1200px - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 1020px;
    min-height: 360px;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 1200;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #destaques {
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(255, 236, 0, 0.8) 80%, rgba(255, 255, 255, 0));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 110px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #resultadoBusca {
    margin-top: 120px;
  }

  .card {
    margin-bottom: 5vh;
  }
}
@media only screen and (min-height: 768px) {
  #single {
    margin-bottom: 5vh;
    margin-top: 168px !important;
  }

  .custom-logo-link img {
    height: 4.2vw !important;
  }
}
@media only screen and (max-width: 575px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 25.2px !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 25.2px;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 63px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 0.56rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 12.6px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 25.2px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 126;
  }
  #menu-superior button {
    font-size: 0.56rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 980pxpx;
    min-width: calc(980pxpx - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #destaques {
    font-size: 0.6rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #ffec00 80%, rgba(255, 255, 255, 0.8));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 476px;
    min-height: 30vhpx;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 560;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 125px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1400px) {
  #parte1 h1, #parte1 h2 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
  }
  #parte1 h1 {
    color: white;
    font-size: 2.68rem !important;
    margin-top: 15vh;
  }
  #parte1 h2 {
    color: white;
    font-size: 2.68rem;
    margin-bottom: 50px;
  }
  #parte1 .wp-block-button {
    margin: 50px auto 0;
  }
  #parte1 .wp-block-button__link {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 5px 20px;
  }

  #opacidade-parte1 {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(131, 10, 245, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
  }

  #menu-superior {
    height: 105px;
    background-color: #7c7373;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-weight: 100;
    font-size: 1.12rem;
  }
  #menu-superior p {
    margin: auto !important;
  }
  #menu-superior .col-10 img, #menu-superior .col-11 img {
    height: 21px !important;
    min-height: 20px;
    margin-right: 5px;
  }
  #menu-superior .col-1 img {
    height: 42px !important;
    margin-right: 10px;
  }
  #menu-superior .col-2 img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border: none;
  }
  #menu-superior #img-whats {
    align-self: flex-start;
  }
  #menu-superior #img-whats img {
    min-height: 15px;
  }
  #menu-superior .custom-logo-link img {
    max-width: 100%;
    width: 5vw;
    height: 5vw;
  }
  #menu-superior .custom-logo-link {
    display: flex;
    align-items: center;
    height: 210;
  }
  #menu-superior button {
    font-size: 1.12rem;
  }

  #busca {
    color: white;
    width: 100%;
    max-width: 1400px;
    min-width: calc(1400px - 10%);
    margin: 0 auto;
    z-index: 5;
    position: relative;
  }
  #busca #ctn-busca {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #busca select {
    font-weight: bold;
    font-size: 0.8rem !important;
    color: black;
    border: none;
  }
  #busca select:focus {
    box-shadow: none;
  }
  #busca option {
    font-size: 0.8rem !important;
    background: rgba(0, 0, 0, 0.7);
  }
  #busca h5 {
    font-size: 1.5rem !important;
  }
  #busca input, #busca label, #busca span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }

  #faixa label {
    width: auto;
  }

  #cntBanner {
    background-color: white;
  }

  .banner .bannerImages {
    background-size: 150px;
    text-shadow: 1px 1px 5px white;
  }
  .banner .bannerImages h2 {
    text-align: center;
    font-weight: bolder;
  }
  .banner .bgBanner {
    width: 1190px;
    min-height: 420px;
    background-image: linear-gradient(90deg, rgba(142, 143, 165, 0.9), rgba(255, 255, 165, 0.9));
    margin: 20px auto;
  }
  .banner .conteudoBanner {
    padding: 30px;
    width: 1400;
    margin: 0 auto;
  }
  .banner .slick-arrow::before {
    color: black;
  }

  .bannerImagens .wp-block-columns {
    display: none;
  }

  #destaques {
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(255, 236, 0, 0.8) 80%, rgba(255, 255, 255, 0));
  }
  #destaques #intro {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #destaques #intro .col-12 {
    text-align: center;
    background: white;
    height: fit-content;
  }
  #destaques #intro h1 {
    height: fit-content;
  }
  #destaques #lista {
    min-height: 100vh;
    background-color: #523b3b;
  }
  #destaques .texto {
    display: none;
  }
  #destaques .imgDestaques {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
  #destaques .cardDestaque {
    position: relative;
  }
  #destaques .corpoDestaque {
    position: absolute;
    bottom: 0;
    background-color: rgba(75, 70, 70, 0.8);
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
  }
  #destaques .corpoDestaque div {
    text-transform: capitalize;
  }
  #destaques .corpoDestaque .textoDestaque {
    display: none;
  }
  #destaques .corpoDestaque .col-6:nth-child(3), #destaques .corpoDestaque .col-6:nth-child(5) {
    text-align: end;
  }
  #destaques .sliderDestaques {
    padding: 0 20px;
  }

  #single {
    height: auto;
    max-height: 65vh;
    padding: 30px 20px;
    background: white;
    margin-top: 125px;
  }
  #single .singleImg {
    margin-right: 3vw;
  }
  #single .singleImg button::before {
    color: black;
  }
  #single .col-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #resultadoBusca {
    margin-top: 140px;
  }

  .card {
    margin-bottom: 5vh;
  }
}

/*# sourceMappingURL=template.css.map */
